
html, body, textarea, input, select {
    font-family: sans-serif;
    font-size: 11pt;
    color: #000;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background: #fefefe;
}

a {
    color: #500;
    text-decoration: underline;
    outline: none;
}

a:hover {
    color: #d00;
}

acronym {
    border-bottom: 1px dotted #700;
    cursor: help;
}

p, ul, ol {
    margin: 1em 0;
}

legend {
    font-weight: bold;
    padding: 0.2em;
}

img {
    border: 0;
}

th {
    text-align: left;
    border-bottom: 1px solid #333;
}

h1 {
    font-size: 1.4em;
    margin: 1em 0;
    padding: 0;
    clear: left;
    border-bottom: 2px solid #600;
}

h2 {
    color: #333;
    font-size: 1.1em;
    margin: 1em 0 0.5em 0;
    padding: 0.2em 0;
    clear: left;
}

h3 {
    font-size: 1.2em;
    font-weight: normal;
}

h1 a,
h1 a:hover,
h2 a,
h2 a:hover {
    text-decoration: none;
}

h2 a,
h2 a:hover,
h3 a,
h3 a:hover {
    color: inherit;
}

dl, dd, dt {
    margin: 0;
    padding: 0;
}

dd {
    margin-left: 1.5em;
}

.faq dt {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 0.8em;
}

.faq dd {
    margin-left: 1.8em;
}

.pre {
    font-family: monospace;
    font-size: 0.9em;
    line-height: 1.2em;
}

.nodisplay {
    display: none;
}

.clear_both {
    clear: both;
}

/*
 * Blog list
 */

ul.blog {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.blog li:hover {
    background: #eee;
}

ul.blog span.date {
    float: right;
}

ul.blog span.arrow {
    display: none;
}

#menu {
    background: #900;
    margin: 0 auto;
    width: 40em;
    height: 1.8em;
}

#menu a {
    color: #eee;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin: 0 0.6em;
    padding: 0em 0.2em;
    line-height: 1.8em;
    float: left;
}

#menu a:hover {
    background: #fff;
    color: #000;
}

#wrapper {
    line-height: 1.6em;
    height: 100%;
    width: 100%;
}

#welcome {
    margin-left: -20em;
    margin-top: -1em;
    height: 2em;
    overflow: visible;
    width: 40em;
    position: absolute;
    top: 60%;
    left: 50%;
}

#welcome .me-image {
    color: #555;
    text-decoration: none;
    border: 3px solid #000;
    height: 300px;
    width: 200px;
    overflow: visible;
    position: absolute;
    left: 0;
    top: -300px;
}

#welcome .me-image:hover {
    color: #900;
    border-color: #900;
}

#welcome .me-image img {
    vertical-align: bottom;
}

#welcome .me-image span {
    font-size: 120px;
    line-height: 120px;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    top: 170px;
    left: 150px;
}

#welcome .me-arrow:hover {
}

#content {
    width: 40em;
    padding: 2em 0;
    margin: 0 auto;
}
