
body, div, input, textarea, td {
    font-size: 11pt;
    font-weight: normal;
    font-family: sans-serif, arial;
    color: #000;
}

body {
    background: #fefefe url(../images/light-texture.jpg);
    margin: 2em 4em;
    padding: 0;
    line-height: 1.6em;
}

a {
    color: #9d4710;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    font-weight: bold;
    padding: 0.8em 0;
}

h1 a, h2 a, h3 a {
    color: #000;
}

h1 {
    font-size: 2.0em;
}

h2 {
    font-size 1.6em;
}

h3 {
    font-size: 1.3em;
}

#wrapper {
    background: url(../images/coffee-texture.jpg);
    width: 58em;
    margin: 0 auto;
}

#header {
    background: url(../images/coffee-cup.jpg) no-repeat 0 0;
    height: 210px;
}

#header h1 {
    font-weight: bold;
    font-size: 2.2em;
    letter-spacing: -1px;
    color: #fff;
    padding: 40px 0 0 1.4em;
    margin: 0;
    height: 40px;
    border-left: 0.2em solid #fff;
}

#header p {
    height: 70px;
    padding: 30px 3em;
    margin: 0;
    border-left: 0.4em solid #fff;
}

#header h1,
#header p,
#menu {
    margin-left: 213px;
}

#menu a,
#header a,
#header p {
    color: #fff;
}

#menu {
    font-size: 1.2em;
    margin-top: -2.8em;
    padding-left: 2.8em;
    height: 2.8em;
}

#menu a {
    margin-right: 1em;
    padding-top: 0.2em;
    display: block;
    float: left;
    text-decoration: underline;
    height: 2.6em;
}

#menu a:hover {
    background: #fff;
    color: #444;
}

#content {
    background: #fff;
    padding: 2em 20px;
    border-bottom: 0.4em solid #444;
}

#footer {
    background: #fefefe url(../images/light-texture.jpg);
    padding: 0.2em 20px;
    font-size: 0.9em;
    clear: both;
}
