$backgroundColor: darken(#fff, 3%);
$fontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontColor: #222;
$linkColor: #458;
$fontSize: 14px;
$bodyGutter: 40px;
$responsiveWidth: 900px;
$columnWidth: 8.333333%;
