<!DOCTYPE html>
<html>
<head>
  <title>jhthorsen - {{ page.title }}</title>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta charset="utf-8">
  <link href="/css/main.css" media="screen" rel="stylesheet" />
  <script src="/js/jquery.js"></script>
  <script src="/js/bat.js"></script>
  <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
</head>
<body>
  <div class="container">
    <header class="header" style="background-image: url(/image/me/jhthorsen-face-1300.jpg);">
      <p>&mdash; my toolbox is filled with perl, javascript, css and html</p>
      <h1><a href="http://thorsen.pm">thorsen.pm</a></h1>
    </header>
    <nav class="nav">
      <ul>
        <li><a href="http://thorsen.pm/">About</a></li>
        <li><a href="http://thorsen.pm/#projects">Projects</a></li>
        <li><a href="http://thorsen.pm/blog">Blog</a></li>
        <li><a href="http://home.thorsen.pm/files">Files</a>
        <li><a href="http://home.thorsen.pm/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="content">
